extends master
block content
    .contenedor
        p Creado por Alexandra Jiménez 
            a( class="click" href="https://www.linkedin.com/in/alexandra-jimenez-4b6459167/" target="_blank")  click aqui!
        a(href="/" class="centro")  VOLVER AL ACORTADOR 